<div marginwidth="0" marginheight="0" bgcolor="#eceff1" style="margin:0;padding:0;background-color:#eceff1">


    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#eceff1"
           style="border-collapse:collapse">
        <tbody>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" width="600" cellpadding="0" cellspacing="0" align="center"
                       style="width:600px;margin:auto;background-color:#ffffff"
                       >
                    <tbody>
                    <tr>
                        <td bgcolor="#363b4d">
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                                   bgcolor="#363b4d" dir="ltr">
                                <tbody>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <tr>
                                    <td width="100%" valign="middle" align="center" valign="middle">
                                        <a href="http://www.compraventasalta.com.ar" target="_blank"><img src="cid:logo_compraventasalta_mail@compraventasalta.com.ar"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center" style="text-align:center"><font size="6"><strong
                                style="font-size:24px!important;font-family:Arial,sans-serif;color:#00BDD6">Anuncio Publicado / Actualizado</strong></font></td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" width="80%" cellpadding="0" cellspacing="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="text-align:left"><font size="3"
                                                                        style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                            <p>{{ad.category.name}} / {{ad.subcategory.name}}</p>
                                            <p>{{ad.city.name}}</p>
                                            <p>{{ad.user.visibleName}}</p>
                                            <p>{{ad.title}}</p>
                                            <br>
                                            <h4 style="text-align: left">Descripci칩n:</h4>
                                            <p style="text-align: left">{{nl2br ad.content}}</p>
                                            <h4 style="text-align: left">Imagenes:</h4>
                                            <p>
                                                {{#each ad.images}}
                                                    <a href="https://d24ybofanksy1z.cloudfront.net/resized/600x450/{{this.relativePath }}"><img src="https://d24ybofanksy1z.cloudfront.net/resized/240x200/{{this.relativePath }}" /></a>
                                                {{/each}}
                                            </p>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0" width="90%"
                                   class="m_-2709806135204549922emailButton"
                                   style="border-radius:3px;background-color:#00BDD6" align="center">
                                <tbody>
                                <tr>
                                    <td align="center" valign="middle"
                                        style="padding-top:12px;padding-bottom:12px;text-align:center"><a
                                            href="{{urlAccept}}"
                                            style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:17px;text-decoration:none"
                                            target="_blank"
                                    >&nbsp;&nbsp;Aprobar&nbsp;&nbsp;</a></td>
                                    <td align="center" valign="middle"
                                        style="padding-top:12px;padding-bottom:12px;text-align:center"><a
                                            href="{{urlReject}}"
                                            style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:17px;text-decoration:none"
                                            target="_blank"
                                    >&nbsp;&nbsp;Rechazar&nbsp;&nbsp;</a></td>
                                    <td align="center" valign="middle"
                                        style="padding-top:12px;padding-bottom:12px;text-align:center"><a
                                            href="{{urlDelete}}"
                                            style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:17px;text-decoration:none"
                                            target="_blank"
                                    >&nbsp;&nbsp;Eliminar&nbsp;&nbsp;</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" width="600" cellpadding="0" cellspacing="0" align="center"
                       style="width:600px;margin:auto">
                    <tbody>
                    <tr>
                        <td>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="text-align:center;color:#777777;font-family:Arial,sans-serif;font-size:13px!important">
                                        Por favor no respondas a este correo.
                                        <br> Si tienes alguna pregunta, encuentra la informaci칩n
                                        <br> en nuestra <a
                                            href=""
                                            style="color:#777777;text-decoration:underline" target="_blank"
                                            >p치gina de ayuda</a> o <a
                                            href="#"
                                            style="color:#777777;text-decoration:underline" target="_blank">contact치nos</a>.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        </tbody>
    </table>
</div>
