<div marginwidth="0" marginheight="0" bgcolor="#eceff1" style="margin:0;padding:0;background-color:#eceff1">


    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#eceff1"
           style="border-collapse:collapse">
        <tbody>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" width="80%" cellpadding="0" cellspacing="0" align="center"
                       style="width:600px;margin:auto;background-color:#ffffff"
                >
                    <tbody>
                    <tr>
                        <td bgcolor="#363b4d">
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                                   bgcolor="#363b4d" dir="ltr">
                                <tbody>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <tr>
                                    <td width="100%" valign="middle" align="center" valign="middle">
                                        <a href="http://www.compraventasalta.com.ar" target="_blank"><img
                                                src="cid:logo_compraventasalta_mail@compraventasalta.com.ar"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center" style="text-align:center"><font size="6"><strong
                                style="font-size:32px!important;font-family:Arial,sans-serif;color:#00BDD6">
                            Hola {{user.username}}!</strong></font></td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" width="80%" cellpadding="0" cellspacing="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="text-align:left"><font size="3" style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                        <p>Llevamos un tiempo sin estar en contacto pero hemos estado trabajando en brindarte un mejor servicio y una mejor experiencia con nosotros.</p>
                                        <p>Para eso, mejoramos toda nuestra plataforma y queremos que CompraVenta Salta sea tu lugar preferido para comprar y vender lo que no usás.</p>
                                        <p>Necesitamos verificar tu cuenta desde tu última interacción con nuestro servicio. Por eso te pedimos que hagas clic en el botón de abajo o bien copiá esta
                                            dirección y pegala en tu navegador: <br/><a href="{{url}}" target="_blank">{{url}}</a>
                                        </p>
                                        <p>Conservamos tus avisos actualizados desde el 2017 y al ingresar podrás gestionarlos!</p>
                                    </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0" width="90%"
                                               class="m_-2709806135204549922emailButton"
                                               style="border-radius:3px;background-color:#00BDD6" align="center">
                                            <tbody>
                                            <tr>
                                                <td align="center" valign="middle"
                                                    style="padding-top:12px;padding-bottom:12px;text-align:center"><a
                                                        href="{{url}}"
                                                        style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:17px;text-decoration:none"
                                                        target="_blank"
                                                >&nbsp;&nbsp;Verificar mi Cuenta&nbsp;&nbsp;</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><font size="3" style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                        <p>También hemos actualizado tu contraseña automáticamente para brindarte más seguridad. Podrás modificarla cuando ingreses.<br/>
                                        Tu nueva contraseña es: <strong>{{password}}</strong>
                                        </p>
                                    </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><font size="3" style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                        Éstas son algunas de las mejoras que encontrarás en CompraVenta Salta:<br/>
                                        <p>+ Desde ahora podrás enviar y recibir mensajes directamente en nuestra plataforma segura</p>
                                        <p>+ Creamos un diseño súper ágil y adaptable a cualquier tamaño de pantalla para que puedas utilizarlo cómodamente desde tu celular o tablet</p>
                                        <p>+ Mejoramos la búsqueda global y los filtros en los listados de avisos</p>
                                        <p>+ Creación de avisos rápida y sencilla</p>
                                        <p>+ Sólo podrán contactarte usuarios registrados en CompraVenta Salta</p>
                                        <p>+ Podrás verificar tu cuenta mediante Facebook para aumentar la confianza de tus visitantes</p>
                                        <p>+ Tus anuncios podrán aparecer fácilmente en tus grupos de Facebook</p>
                                        <p>+ Pronto podrás destacar tus avisos y ser recomendado por CompraVenta Salta</p>
                                        <p>+ Estamos trabajando constantemente en incorporar nuevas funcionalidades y servicios para tu comodidad</p>
                                    </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><font size="3" style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                        <p>Te esperamos pronto!!!</p>
                                    </font></td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left"><font size="3" style="font-size:16px!important;font-family:Arial,sans-serif;color:#4a4a4a">
                                        <p>El equipo de CompraVenta Salta</p>
                                    </font></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    </tbody>
                </table>
                <table border="0" width="600" cellpadding="0" cellspacing="0" align="center"
                       style="width:600px;margin:auto">
                    <tbody>
                    <tr>
                        <td>
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td align="center"
                                        style="text-align:center;color:#777777;font-family:Arial,sans-serif;font-size:13px!important">
                                        Por favor no respondas a este correo.
                                        <br> Si tienes alguna pregunta, encuentra la información
                                        <br> en nuestra <a
                                            href="https://www.compraventasalta.com.ar/contacto-ayuda"
                                            style="color:#777777;text-decoration:underline" target="_blank"
                                    >página de ayuda</a> o <a
                                            href="https://www.compraventasalta.com.ar/contacto-ayuda"
                                            style="color:#777777;text-decoration:underline"
                                            target="_blank">contactános</a>.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        </tbody>
    </table>
</div>
